<h1>All Listings</h1>
<%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary mb-3' %>

<div class="container bg-dark text-light">
  <div class="row listings-container justify-content-center">
    <% listings = Listing.all %>
    <% listings.each_with_index do |listing, index| %>
      <div class="col-md-5 mb-4"> <!-- Adjusted margin-bottom for spacing between rows -->
        <div class="card bg-dark bg-gradient text-light listing-cards h-100"> <!-- h-100 ensures cards have equal height -->
          <div class="card-header">
            <%= listing.title %>
          </div>
          <div class="card-body">
            <% if listing.image.present? %>
              <%= image_tag listing.image, class: 'card-img-top img-fluid', alt: listing.title %>
            <% end %>
            <p class="card-text"><%= truncate(listing.body, length: 140, separator: ' ') %></p>
            <%= link_to 'View Listing', listing_path(listing), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>