<h1>All Listings</h1>
<%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary' %>

<div class="accordion accordion-flush bg-dark full-size acc-style" id="listingAccordion">
  <% listings = Listing.all %>
  <% max_items_per_div = 6 %> <!-- Change this number to your desired maximum -->
  <% counter = 0 %>
  <% div_index = 0 %>

  <% listings.each_with_index do |listing, index| %>
    <% if counter % max_items_per_div == 0 %>
      <% div_index += 1 %>
      <div class="hidden-div" id="hiddenDiv<%= div_index %>" style="display: none;">
    <% end %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingListing<%= index %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseListing<%= index %>" aria-expanded="false" aria-controls="collapseListing<%= index %>">
          <%= listing.title %>
        </button>
      </h2>
      <div id="collapseListing<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingListing<%= index %>" data-bs-parent="#listingAccordion">
        <div class="accordion-body">
          <%= listing.body %>
        </div>
      </div>
    </div>
    <% counter += 1 %>
    <% if counter % max_items_per_div == 0 || index == listings.size - 1 %>
      </div>
    <% end %>
  <% end %>
</div>