<body class="bg-dark text-light">
  <!-- app/views/documents/index.html.erb -->
  <h1>Documents</h1>

  <%= link_to 'Upload Document', new_document_path, class: 'btn btn-primary' %>

  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th class="col-2">Name</th>
          <th class="col-3 document-column">Document</th>
          <th class="col-2">Date</th>
          <th class="col-2">Size</th>
          <th class="col-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td class="col-2">
              <%= link_to document.name, '#', data: { bs_toggle: 'modal', bs_target: "#documentModal#{document.id}" } %>
            </td>
            <td class="col-3 document-column">
              <% if document.document.attached? %>
                <%= link_to truncate(document.document.filename.to_s, length: 30), rails_blob_path(document.document, disposition: "attachment"), class: 'text-white text-decoration-none' %>
              <% else %>
                No document attached
              <% end %>
            </td>
            <td class="col-2"><%= document.date %></td>
            <td class="col-2"><%= number_to_human_size(document.size) %></td>
            <td class="col-3">
              <%= link_to 'Show', document_path(document), class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_document_path(document), class: 'btn btn-secondary' %>
              <%= link_to 'Delete', document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>

          <!-- Modal -->
          <div class="modal fade" id="documentModal<%= document.id %>" tabindex="-1" aria-labelledby="documentModalLabel<%= document.id %>" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                  <h5 class="modal-title" id="documentModalLabel<%= document.id %>"><%= document.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% if document.document.attached? %>
                    <iframe src="<%= rails_blob_path(document.document, disposition: "inline") %>" width="100%" height="500px"></iframe>
                  <% else %>
                    No document available
                  <% end %>
                </div>
                <div class="modal-footer">
                  <% if document.document.attached? %>
                    <%= link_to 'Download', rails_blob_path(document.document, disposition: "attachment"), class: 'btn btn-primary' %>
                  <% end %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
