<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Sacramento&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="./script.js" defer></script>
  <title>Euro Central</title>
</head>
<body class="bg-dark text-light">
  <div class="content">
    <h1 class="headings">All Blogs</h1>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

    <div class="accordion accordion-flush bg-dark full-size acc-style" id="blogAccordion">
      <% blogs = Post.all %>
      <% max_items_per_div = 6 %> <!-- Change this number to your desired maximum -->
      <% counter = 0 %>
      <% div_index = 0 %>

      <% blogs.each_with_index do |post, index| %>
        <% if counter % max_items_per_div == 0 %>
          <% div_index += 1 %>
          <div class="hidden-div" id="hiddenDiv<%= div_index %>" style="display: none;">
        <% end %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%= index %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
              <%= post.title %>
            </button>
          </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#blogAccordion">
            <div class="accordion-body">
              <%= post.body %>
            </div>
          </div>
        </div>
        <% counter += 1 %>
        <% if counter % max_items_per_div == 0 || index == blogs.size - 1 %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="headings">All Listings</h1>
    <%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary' %>

    <div class="accordion accordion-flush bg-dark full-size acc-style" id="listingAccordion">
      <% listings = Listing.all %>
      <% max_items_per_div = 6 %> <!-- Change this number to your desired maximum -->
      <% counter = 0 %>
      <% div_index = 0 %>

      <% listings.each_with_index do |listing, index| %>
        <% if counter % max_items_per_div == 0 %>
          <% div_index += 1 %>
          <div class="hidden-div" id="hiddenDiv<%= div_index %>" style="display: none;">
        <% end %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingListing<%= index %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseListing<%= index %>" aria-expanded="false" aria-controls="collapseListing<%= index %>">
              <%= listing.title %>
            </button>
          </h2>
          <div id="collapseListing<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingListing<%= index %>" data-bs-parent="#listingAccordion">
            <div class="accordion-body">
              <%= listing.body %>
              <% if listing.image.attached? %>
                <div>
                  <%= image_tag listing.image %>
                </div>
              <% end %>
              <div>
                <%= link_to listing.url, listing.url, target: "_blank" %>
              </div>
            </div>
          </div>
        </div>
        <% counter += 1 %>
        <% if counter % max_items_per_div == 0 || index == listings.size - 1 %>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="headings">All Documents</h1>
    <%= link_to 'New Document', new_document_path, class: 'btn btn-primary' %>

    <div class="accordion accordion-flush bg-dark full-size acc-style" id="documentAccordion">
  <% documents = Document.all %>
  <% max_docs_per_div = 6 %> <!-- Change this to the desired amount of docs per page -->
  <% doc_counter = 0 %>
  <% doc_div_index = 0 %>

  <% documents.each_with_index do |document, index| %>
    <% if doc_counter % max_docs_per_div == 0 %>
      <% doc_div_index += 1 %>
      <div class="doc-hidden-div" id="docHiddenDiv<%= doc_div_index %>" style="display: none;">
    <% end %>

    <div class="accordion-item bg-dark">
      <h2 class="accordion-header" id="docHeading<%= index %>">
        <button class="accordion-button bg-dark bg-gradient text-white" type="button" data-bs-toggle="collapse" data-bs-target="#docCollapse<%= index %>" aria-expanded="true" aria-controls="docCollapse<%= index %>">
          <%= document.name %>
        </button>
      </h2>
      <div id="docCollapse<%= index %>" class="accordion-collapse collapse bg-dark" aria-labelledby="docHeading<%= index %>" data-bs-parent="#documentAccordion">
        <div class="accordion-body bg-dark text-white">
          <%= link_to document_path(document), class: 'text-white text-decoration-none d-block' do %>
            <div class="truncate">
              <%= truncate(document.name, 96).html_safe %>
            </div>
          <% end %>
          <div class="mt-3">
            <% if document.document.attached? %>
              <%= link_to truncate(document.document.filename.to_s, length: 30), rails_blob_path(document.document, disposition: "attachment"), class: 'text-white text-decoration-none' %>
            <% else %>
              <span class="text-muted">No file attached</span>
            <% end %>
            <%= link_to 'preview', '#', data: { bs_toggle: 'modal', bs_target: "#documentModal#{document.id}" }, class:'btn btn-secondary' %>
            <%= link_to 'Delete', document_path(document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>

    <% doc_counter += 1 %>
    <% if doc_counter % max_docs_per_div == 0 || index == documents.size - 1 %>
      </div>
    <% end %>
  <% end %>
</div>


    <div class="btn-group mt-3" role="group" aria-label="Navigation buttons">
      <button id="prevButtonDoc" class="btn btn-outline-secondary"><</button>
      <button id="nextButtonDoc" class="btn btn-outline-secondary">></button>
    </div>
      <!-- Modal -->
  <% documents.each do |document| %>
  <div class="modal fade" id="documentModal<%= document.id %>" tabindex="-1" aria-labelledby="documentModalLabel<%= document.id %>" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="documentModalLabel<%= document.id %>"><%= document.name %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if document.document.attached? %>
            <iframe src="<%= rails_blob_path(document.document, disposition: "inline") %>" width="100%" height="500px"></iframe>
          <% else %>
            <p class="text-muted">No file attached</p>
          <% end %>
        </div>
        <div class="modal-footer">
          <% if document.document.attached? %>
            <%= link_to 'Download', rails_blob_path(document.document, disposition: "attachment"), class: 'btn btn-primary' %>
          <% end %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<pre class="text-warning text-center">*If the content is not loading refresh the page*</pre>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let currentDivIndex = 1;
    const maxDivIndex = <%= div_index %>;

    document.getElementById('prevButton').addEventListener('click', function() {
      if (currentDivIndex > 1) {
        document.getElementById('hiddenDiv' + currentDivIndex).style.display = 'none';
        currentDivIndex--;
        document.getElementById('hiddenDiv' + currentDivIndex).style.display = 'block';
      }
    });

    document.getElementById('nextButton').addEventListener('click', function() {
      if (currentDivIndex < maxDivIndex) {
        document.getElementById('hiddenDiv' + currentDivIndex).style.display = 'none';
        currentDivIndex++;
        document.getElementById('hiddenDiv' + currentDivIndex).style.display = 'block';
      }
    });

    // Initially show the first div
    document.getElementById('hiddenDiv1').style.display = 'block';

    let currentDocIndex = 1;
    const maxDocIndex = <%= doc_div_index %>;

    document.getElementById('prevButtonDoc').addEventListener('click', function() {
      if (currentDocIndex > 1) {
        document.getElementById('docHiddenDiv' + currentDocIndex).style.display = 'none';
        currentDocIndex--;
        document.getElementById('docHiddenDiv' + currentDocIndex).style.display = 'block';
      }
    });

    document.getElementById('nextButtonDoc').addEventListener('click', function() {
      if (currentDocIndex < maxDocIndex) {
        document.getElementById('docHiddenDiv' + currentDocIndex).style.display = 'none';
        currentDocIndex++;
        document.getElementById('docHiddenDiv' + currentDocIndex).style.display = 'block';
      }
    });

    // Initially show the first div
    document.getElementById('docHiddenDiv1').style.display = 'block';
  });
</script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="./script.js" defer></script>
</body>
</html>
